body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#subir {
    font-size: 24px;
    padding: 15px;
    color: white;
    position: fixed;
    z-index: 101;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #0d5ada;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}

@media screen and (max-width: 480px) {
    header {
        display: flex;
        position: relative;

        flex-direction: column;
    }

    header figure {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }

    header div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        background: #0d5ada;
        color: white;
        font-weight: bold;
    }

    #menu {
        display: none;
        top: 100%;
        z-index: 1000;
        width: 45%;
        position: absolute;
    }

    .show-menu {
        left: 0;
    }

    #menu ul {
        padding: 15px 5px;
        background: white;
    }

    #menu ul li a {
        padding: 5px 10px;
        display: block;
        text-decoration: none;
        color: black;
        border-bottom: 2px #0d5ada solid;
    }

    #menu ul li {
        display: block;
    }

    .slides {
        position: relative;
    }

    .rslides {
        position: relative;
        list-style: none;
        overflow: hidden;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .rslides li {
        -webkit-backface-visibility: hidden;
        position: absolute;
        display: none;
        width: 100%;
        left: 0;
        top: 0;
    }

    .rslides li:first-child {
        position: relative;
        display: block;
        float: left;
    }

    .rslides img {
        display: block;
        float: left;
        width: 100%;
        height: 700px;
        border: 0;
        object-fit: cover;
    }

    .slides div {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
        flex-direction: column;
        max-width: 1200px;
        padding: 0 50px;
        gap: 35px;
        transform: translate(-50%, -50%);
    }


    ul {
        list-style: none;
    }

    .imagen {
        position: relative;
        height: 500px;
        background: url(imagenes/foto_parallaxs.jpeg) no-repeat fixed center center;
        background-size: cover;
    }

    .imagen div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        color: white;
        gap: 15px;
        padding: 15px;
    }
    .titulo {
        padding: 40px 0;
    }
    .titulo h1{
        text-align: center;
        color: black;
        font-size: 48px;
    }
    .titulo div {
        width: 20%;
        height: 12px;
        background: #0d5ada;
        margin: 20px auto 0 auto;
    }
    .boton-transparente {
        padding: 10px 30px;
        color: white;
        text-decoration: none;
        font-weight: bolder ;
        border: white 1px solid;
    }
    .imagen h2 {
        font-size: 28px;
    }
    .imagen p {
        font-size: 22px;
        font-weight: bold;
    }
    .paralax {
        margin-bottom: 30px;
    }
    .services .contenido{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .services .contenido article {
        padding: 40px 15px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        flex-direction: column;
        text-align: center;
    }
    .services .contenido article img{
        width: 60px;
    }
    .team .imagenes {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .team .imagenes figure {
        width: 100%;
    }
    .team .imagenes figure img {
        width: 100%;
    }
    .slide {
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .slide figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
    .slide figure {
        margin: 0 auto 30px auto;
        position: relative;
        width: 120px;
    }
    .slide figure i {
        position: absolute;
        top: 50%;
        width: 50px;
        height: 50px;
        background: #0d5ada;
        color: white;
        border-radius: 50%;
        display: flex;
        font-size: 20px;
        right: 0;
        justify-content: center;
        align-items: center;
    }
    .slide p {
        margin-bottom: 20px;
        color: #616161;
    }
    .slide h3 {
        color: #0d5ada;
    }
    .slide-buttons {
        display: flex;
        gap: 20px;
        margin-top: 40px;
    }
    .slide-buttons a{
        padding: 5px 10px;
        color: white;
        background: #0d5ada;
    }
    .pregunta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        background: #0d5ada;
        color: white;
    }
    .pregunta i {
        transition: 250ms all;
        border-radius: 50%;
        background: white;
        color: #0d5ada;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        padding: 10px;
    }
    .rotate {
        transform: rotate(180deg);
    }
    .respuesta {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding-bottom: 25px;
    }
    .respuesta figure {
        width: 100%;
    }
    .respuesta figure img {
        width: 100%;
    }
    .respuesta .date {
        display: flex;
        gap: 5px;
        justify-content: start;
        align-items: center;
        padding: 10px 15px 0 15px;
        color: #545454;
    }
    .respuesta .date p {
        padding: 0;
    }
    .respuesta .date i {
        font-size: 16px;
    }
    .respuesta h2 {
        padding: 0 15px;
    }
    .respuesta p {
        padding: 0 15px;

    }
    .respuesta .date i{
        color: #0d5ada;
    }
    .acordeon {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .noticias {
        margin-bottom: 50px;
    }
    footer{
        background: #111a3b;
    }
    footer figure{
        padding: 25px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer figure img{
        margin: auto;
    }
}